<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/x-icon" href="../icons/favicon.ico">
<head>
   <title>FisioVR</title>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
    <link rel="stylesheet" href="/style.css"> <!-- por default, ele pesquisa a pasta public  -->
</head>
<body>

    <nav>
        <ul>
            <img src="">asdf
        </ul>
        <ul>
            {{#if user}}
                <li><a href="/profile">Editar Perfil</a></li>
                <li><a href="/auth/logout">Sair</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/cadastro">Cadastro</a></li>
            {{/if}}
        </ul>
    </nav> 


<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
         
            <img src="https://www.w3schools.com/w3images/avatar_hat.jpg" style="width:100%" alt="Avatar">
         
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>{{user.nome}}</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.email}}</p>
          <p><i class="fa fa-user-circle-o fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.login}}</p>
          
          <p><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"></i>{{paciente.id_prof_resp}}</p>
          <hr>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-circle-o fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Exercícios a fazer</h2>
         <!-- {{#each lista}}

              
          {{/each}}
         --> 
         {{#each lista}}
            {{#compare this.status "Concluído" operator="=="}}
              <tr>
                    <p>this.satus {{this.status}}</p>
                    <td><b>Nome:</b> {{this.nome}} <br>
                    <b>Num. Execuções:</b> {{this.num_execucoes}} <br>
                    <b>Angulo:</b> {{this.algulo_alvo}} <br>
                    <b>Tempo de Execução:</b> {{this.tempo_execucao}} <br>
                    </td>
                </tr>
            {{/compare}} 
                
            {{/each}}
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-check-circle-o fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Exercícios Concluídos</h2>
        <div class="w3-container">
        {{#each lista}}
            {{#if this.status}}
             
            {{else}}
               <tr>
                    <p>this.status {{this.status}}</p>
                    <td><b>Nome:</b> {{this.nome}} <br>
                    <b>Num. Execuções:</b> {{this.num_execucoes}} <br>
                    <b>Angulo:</b> {{this.algulo_alvo}} <br>
                    <b>Tempo de Execução:</b> {{this.tempo_execucao}} <br>
                    </td>
                </tr>
            {{/if}} 
                
            {{/each}}
         
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>
</body>
<script>
  Handlebars.registerHelper('compare', function(lvalue, rvalue, options) {

    if (arguments.length < 3)
        throw new Error("Handlerbars Helper 'compare' needs 2 parameters");

    var operator = options.hash.operator || "==";

    var operators = {
        '==':       function(l,r) { return l == r; },
        '===':      function(l,r) { return l === r; },
        '!=':       function(l,r) { return l != r; },
        '<':        function(l,r) { return l < r; },
        '>':        function(l,r) { return l > r; },
        '<=':       function(l,r) { return l <= r; },
        '>=':       function(l,r) { return l >= r; },
        'typeof':   function(l,r) { return typeof l == r; }
    }

    if (!operators[operator])
        throw new Error("Handlerbars Helper 'compare' doesn't know the operator "+operator);

    var result = operators[operator](lvalue,rvalue);

    if( result ) {
        return options.fn(this);
    } else {
        return options.inverse(this);
    }

});
</script>
</html>
