<!DOCTYPE html>
<html lang="en">
<head>
   <title>FisioVR</title>
  <link rel="shortcut icon" href="../icons/fisioVR02.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
    <link rel="stylesheet" href="/style.css"> <!-- por default, ele pesquisa a pasta public  -->
</head>
<body>

    <nav>
        <h4>
            <img src="../icons/fisioVR02.png">
        </h4>
        <ul>
            {{#if user}}
                <li><a href="/profile">Editar Perfil</a></li>
                <li><a href="/auth/logout">Sair</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/cadastro">Cadastro</a></li>
            {{/if}}
        </ul>
    </nav> 


<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="https://www.w3schools.com/w3images/avatar_hat.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>{{user.nome}}</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.email}}</p>
          <p><i class="fa fa-user-circle-o fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.login}}</p>
          
          <p><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.id_prof_resp}}</p>
          <hr>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-circle-o fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Exercícios a fazer</h2>
        
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-check-circle-o fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Exercícios Concluídos</h2>
        <div class="w3-container">
      
         
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>
</body>
</html>
