
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css"> <!-- por default, ele pesquisa a pasta public  -->
    <script src="https://unpkg.com/axios@0.24.0/dist/axios.min.js"></script>

</head>
    <body>
           <div class="card" style="width: 40rem; margin:auto;">
                <div class="card-header">
                    Cadastro de paciente
                </div>
                <div class="card-body">
                    <form action="./auth/cadastroPacienteAdm" method="POST">
                        <div class="form-group">
                            <label for="nome">Nome<sob>*</sob></label>
                            <input type="text" class="form-control" id="nome" name="nome" required>
                        </div>

                        <div class="form-group">
                            <label for="email">Email<sob>*</sob></label>
                            <input type="text" class="form-control" id="email" name="email" required>
                        </div>

                        <div class="form-group">
                            <label for="cpf">CPF<sob>*</sob></label>
                            <input type="text" class="form-control" id="cpf" name="cpf" required>
                        </div>

                        <div class="form-group">
                            <label for="telefone">Telefone<sob>*</sob></label>
                            <input type="text" class="form-control" id="telefone" name="telefone" required>
                        </div>

                        <div class="form-group">
                            <label for="user">Login<sob>*</sob></label>
                            <input type="login" class="form-control" id="user" name="user" required>
                        </div>

                        <div class="form-group">
                            <label for="password">Senha<sob>*</sob></label>
                            <input type="password" class="form-control" onkeyup="confereTamanhoSenha()"  id="password" name="password" required>
                        </div>

                        <div class="form-group">
                            <label for="passwordConfirm">Confirmar Senha<sob>*</sob></label>
                            <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" required onkeyup="confereSenha()">
                        </div>

                        <div class="form-group">
                            <label for="descProblem">Descrição do problema<sob>*</sob></label>

                            <textarea class="form-control" id="descProblem"rows="4" cols="40" maxlength="100" name="descProblema" id="descProblema" required></textarea>

                        </div>

                        <b>Foto:</b><br><p2>O formato da foto deve ser .jpg</p2> <br><input type="file" accept="image/jpeg"id="fileInput" ><br><br>
                        
                        <div class="form-group">
                        <h4>Escolha um profissional responsável:</h4>

                            {{#each lista_profcad}}
                                <div class="form-group">
                                    <input type="hidden" name="id_usuario" value={{this.id_usuario}}>
                                    <div style="margin: 10px;">
                                        <img src="../fotos/{{this.cpf}}.jpg" style="width: 15%" alt="Avatar" onerror="this.onerror=null;this.src='../fotos/fotoDefault.png';">
                                    </div>
                                    <b><p1>Nome:</p1></b> {{this.nome}} <br>
                                    <b><p1>Email:</p1></b> {{this.email}} <br>
                                    <b><p1>CPF:</p1></b> {{this.cpf}} <br>
                                    <b><p1>Telefone:</p1></b> {{this.telefone}} <br>
                                    
                                    <input type = "radio" id = "idProfissional" name = "idProfissional" value="{{this.id_usuario}}"required>
                                </div>

                            {{/each}}
                        </div>

                        
                        <br><input type = "hidden" id = "tipoUsuarioCadastrando" name = "tipoUsuarioCadastrando" value="1">

                        <button id="submit" type="submit" class="btn btn-primary">Cadastrar paciente</button>
                    </form>
                </div>
            </div>

        

        <!-- Scritpt para as máscaras-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

        <script type="text/javascript">
            $("#telefone").mask("(00)00000-0000");
            $("#cpf").mask("000.000.000-00");

            function confereTamanhoSenha(){
                const senha = document.getElementById("password");
                if(senha.value.length<6){
                    senha.setCustomValidity("A senha precisa ter pelo menos 6 caracteres");
                }else{
                    senha.setCustomValidity('');
                }        
            }
            function confereSenha(){
                const senha = document.getElementById("password");
                const confSenha = document.getElementById("passwordConfirm");
                if(senha.value==confSenha.value){
                    confSenha.setCustomValidity('');
                }else{
                    confSenha.setCustomValidity('As senhas não conferem');
                }
            }

            //upload de imagens
            document.getElementById("submit").onclick = () => {
                let fileElement = document.getElementById('fileInput')
                let cpf = document.getElementById('cpf');
                console.log("CPF: "+cpf.value);
                // verifica se alguma imagem está sendo enviada
                if (fileElement.files.length === 0){
                    //alert("A nenhuma imagem carregada!");
                    return
                }
                
                let auxCpf=cpf.value;

                //retira a máscara do cpf
                auxCpf=auxCpf.replace("-", "");
                auxCpf=auxCpf.replaceAll('.','');

                let auxFoto = auxCpf+".jpg";
                console.log("Nome da foto "+auxFoto);
                let file = fileElement.files[0]

                let formData = new FormData();
                formData.set('file', file, auxFoto);
                
                //chama a rota de upload de imagem
                axios.post("/uploadImagem", formData, {
                    
                /* onUploadProgress: progressEvent => {
                    const percentCompleted = Math.round(
                        (progressEvent.loaded * 100) / progressEvent.total
                    );
                    console.log(`porcentagem upload: ${percentCompleted}%`);
                    }*/
                })
                .then(function (res) {
                    console.log(res.data)
                    console.log(res.data.url)
                    alert("Seus dados foram atualizados");
                })
                .catch(function(error){
                    console.log(error.response.data);
                    alert("Problemas ao enviar a foto");
                });
            }
        </script>
    </body>
</html>