<!DOCTYPE html>
<html lang="pt-br">
<link rel="icon" type="image/x-icon" href="../icons/fisioVR02.ico">

<head>
    <title>FisioVR</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios@0.24.0/dist/axios.min.js"></script>

    <style>
        body {
            background: rgb(99, 39, 120)
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #BA68C8
        }

        .profile-button {
            background: rgb(99, 39, 120);
            box-shadow: none;
            border: none
        }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

        .back:hover {
            color: #682773;
            cursor: pointer
        }

        .labels {
            font-size: 11px
        }

        .add-experience:hover {
            background: #BA68C8;
            color: #fff;
            cursor: pointer;
            border: solid 1px #BA68C8
        }
    </style>
    <link rel="stylesheet" href="/style.css"> <!-- por default, ele pesquisa a pasta public  -->

</head>


<body>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img id="foto" class="rounded-circle mt-5" width="150px" src="../fotos/{{user.cpf}}.jpg" onerror="this.onerror=null;this.src='../fotos/fotoDefault.png';"><span
                        class="font-weight-bold">{{user.nome}}</span><span
                        class="text-black-50">{{user.email}}</span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Editar Perfil</h4>
                    </div>

                    <form action="/editarPerfilPaciente" method="POST">

                        <div class="row mt-3">
                            <!--Aqui eu passo o id do usuario para fazer a atualizacao dos dados-->
                            <input type="hidden" name="id_usuario" value={{user.id_usuario}}>

                            <div class="col-md-6"><label class="labels">Nome</label><input type="text" required name="nome" class="form-control" id="nome"
                                    placeholder="Nome" value="{{user.nome}}"></div> 
                            <div class="col-md-12"><label class="labels">Número de telefone</label><input type="text" required name="telefone" id="telefone"
                                    class="form-control" placeholder="Novo número" value="{{user.telefone}}"></div>
                            
                            <!-- <div class="col-md-12"><label class="labels">Senha</label><input type="password" id="senha"
                                    class="form-control" placeholder="Nova Senha" value=""></div>
                            <div class="col-md-12"><label class="labels">Confirmar Senha</label><input type="password" id="confirmarSenha"
                                    class="form-control" placeholder="Confirmar Nova Senha" value=""></div> -->
                            
                            <div class="col-md-12"><label class="labels">CPF</label><input style="background-color: rgb(209, 209, 209);" type="text" required name="visualizacaoCpf" id="visualizacaoCpf"
                                    class="form-control" placeholder="Alterar CPF" value="{{user.cpf}}" disabled></div>
                            <div class="col-md-12"><label class="labels">Email</label><input type="text" required name="email" id="email"
                                    class="form-control" placeholder="email" value="{{user.email}}"></div>
                        </div>
                        <!--Cpf que vai para a foto-->
                        <input type="hidden" id = "cpf" name="cpf" value={{user.cpf}}>

                        <b>Foto:</b><br><p2>O formato da foto deve ser .jpg</p2> <br><input type="file" accept="image/jpeg"id="fileInput"><br><br>
                        


                        <div class="mt-5 text-center">
                            <button  id="submit" class="btn btn-primary profile-button" type="submit">
                                Salvar Alterações
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    </div>
    </div>
    <!-- Scritpt para as máscaras-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    
    <script type="text/javascript">
        $("#telefone").mask("(00)00000-0000");
        $("#cpf").mask("000.000.000-00");



    //upload de imagens
        document.getElementById("submit").onclick = () => {
            let fileElement = document.getElementById('fileInput')
            let cpf = document.getElementById('cpf');

            // verifica se alguma imagem está sendo enviada
            if (fileElement.files.length === 0){
                //alert("A nenhuma imagem carregada!");
                return
            }
            
            let auxCpf=cpf.value;

            //retira a máscara do cpf
            auxCpf=auxCpf.replace("-", "");
            auxCpf=auxCpf.replaceAll('.','');

            let auxFoto = auxCpf+".jpg";
            console.log("Nome da foto "+auxFoto);
            let file = fileElement.files[0]

            let formData = new FormData();
            formData.set('file', file, auxFoto);
            
            //chama a rota de upload de imagem
            axios.post("/uploadImagem", formData, {
                
            /* onUploadProgress: progressEvent => {
                const percentCompleted = Math.round(
                    (progressEvent.loaded * 100) / progressEvent.total
                );
                console.log(`porcentagem upload: ${percentCompleted}%`);
                }*/
            })
            .then(function (res) {
                console.log(res.data)
                console.log(res.data.url)
                alert("Seus dados foram atualizados");
            })
            .catch(function(error){
                console.log(error.response.data);
                alert("Problemas ao enviar a foto");
            });
        }
    </script>
    
</body>
</html>>