<!DOCTYPE html>
<html lang="pt-br">
<link rel="icon" type="image/x-icon" href="../icons/fisioVR02.ico">

<head>
  <title>FisioVR</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Roboto", sans-serif
    }

    #blocker {
      position: absolute;
      width: 100vw;
      height: 100vh;
      margin: auto;
      z-index: 99;
      display: none;
      background-color: #00000099;
      text-align: center;
    }
  </style>
  <link rel="stylesheet" href="/style.css"> <!-- por default, ele pesquisa a pasta public  -->

  <script>
    var visibilidade = false;

    function myfunction() {
      if (visibilidade) {
        document.getElementById("gif").style.display = "none";
        visibilidade = false;
      } else {
        document.getElementById("gif").style.display = "block";
        visibilidade = true;
      }
    }
  </script>

</head>

<body>
  <div id="blocker" allow="camera;" src="" frameborder="0">
    <h2 style="color: #fff;">Esperando exercicio</h2>
  </div>



  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

      <!-- Left Column -->
      <div class="w3-third">

        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img src="../fotos/{{user.cpf}}.jpg" style="width:100%" alt="Avatar">
          </div>
          <div class="w3-container">
            <p><i class="fa fa-user-circle-o fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.nome}}</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.email}}</p>
            <!--<p><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"></i>{{paciente.id_prof_resp}}</p>-->
            <hr>
          </div>
        </div><br>

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird">

        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-circle-o fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Exercícios a fazer</h2>
          <!-- {{#each lista}}

              
          {{/each}}
         -->


          {{#each listaP}}
          <tr>
            <form id="{{this.id_exercicio}}" action="/exercicio" method="post">
              <input type="hidden" name="id_lista" value="{{this.id_lista}}">
              <input type="hidden" name="id_exercicio" value="{{this.id_exercicio}}">
              <td><b>Nome:</b> {{this.nome}} <br>
                <b>Num. Execuções:</b> {{this.num_execucoes}} <br>
                <b>Angulo:</b> {{this.algulo_alvo}} <br>
                <b>Tempo de Execução:</b> {{this.tempo_execucao}} <br>
                <button type="button" onclick="myfunction()">Demonstração</button>
                <a class="w3-button w3-gray w3-round w3-margin-bottom w3-text-white"
                  href="javascript:startExercise({{this.id_exercicio}}, '{{this.nome}}', {{this.num_execucoes}}, {{stringify this.concentric}}, {{stringify this.eccentric}});">Executar</a>

                <div id="gif" style="display:none">
                  <img src="gifs/desenvolvimento-para-ombros-com-halteres.webp">
                </div>
              </td><br>
            </form>
          </tr>

          {{/each}}
        </div>

        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-check-circle-o fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Exercícios Concluídos</h2>
          <div class="w3-container">

            {{#each listaC}}
            <tr>
              <td><b>Nome:</b> {{this.nome}} <br>
                <b>Num. Execuções:</b> {{this.num_execucoes}} <br>
                <b>Angulo:</b> {{this.algulo_alvo}} <br>
                <b>Tempo de Execução:</b> {{this.tempo_execucao}} <br>
              </td><br>
            </tr>


            {{/each}}

          </div>
        </div>

        <!-- End Right Column -->
      </div>

      <!-- End Grid -->
    </div>

    <!-- End Page Container -->

  </div>

  <script>
    const blocker = document.getElementById('blocker');
    let exercise_id = -1;

    function startExercise(id, name, reps, concentric, eccentric) {
      blocker.style.display = 'block';
      exercise_id = id;

      let exercicio = {
        name,
        sets: 3,
        leftReps: reps,
        rightReps: reps,
        rest: 3,
        concentric,
        eccentric,
        margin: 10
      }

      var criptExe = btoa(JSON.stringify(exercicio));
      var valid = 0;

      for(var i=0; i<criptExe.length; i++){
        valid += criptExe[i].charCodeAt(0);
      }
      console.log(valid);

      open(`https://avrgroup.github.io/FisioVR/?exe=${criptExe}&eval=${valid}`);
    }

    function completedExercise() {
      console.log('completed')
      let form = document.getElementById(exercise_id.toString());
      console.log(exercise_id, form);
      form.submit();
    }

    window.addEventListener('message', (e) => {
      console.log(e.origin)
      if (e.origin === 'https://avrgroup.github.io') {
        blocker.style.display = 'none';

        if (e.data === 'completed')
          completedExercise();
        exercise_id = -1;
      }
    }, false);
  </script>
</body>

</html>